{% extends "user/base.html.twig" %}

{% block form %}

  <div class="form-header">
    <h2 class="form-title">Password change:</h2>
  </div>

  {{ form_start(password_form) }}

  {% include 'default/formErrors.html.twig' %}

  {{ form_errors(password_form) }}
  {{ form_widget(password_form) }}
  <button class="form-button btn btn-primary btn-lg btn-block" type="submit">Save changes</button>
  {{ form_end(password_form) }}

  <div class="form-footer">
    <p><a href="{{ path('homepage') }}">Back to homepage</a></p>
  </div>

{% endblock %}
