<div class="row">
  <div class="page-section col-sm-6 col-sm-offset-3">
    {% if contacts %}
      <h2>List of your contacts:</h2>

      <div class="list-group contacts">
        {% for contact in contacts if contact.inRecycleBin == false %}
          <a href="{{ path('contact_show', { 'id': contact.id }) }}" class="list-group-item">
            <ul class="list-inline contact-attributes">
              <li>{{ contact.name }}</li>
              {% if contact.phoneNumbers %}
                <li>{{ contact.phoneNumbers.0 }}</li>
              {% elseif  contact.address %}
                <li>{{ contact.address }}</li>
              {% endif %}
            </ul>
          </a>
        {% endfor %}
      </div>

    <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('contact_recycle_index') }}">Recycle bin</a>
    {% else %}
      <div class="alert alert-info">
        Contact list empty!
      </div>
    {% endif %}
    <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('contact_new') }}">Create a new contact</a>
  </div>
</div>
